<template>
  <!-- begin:: Aside -->
  <div id="kt_aside" ref="kt_aside" class="aside aside-left d-flex aside-fixed">
    <!--begin::Primary-->
    <div class="aside-primary d-flex flex-column align-items-center flex-row-auto">
      <!--begin::Brand-->
      <KTBrand></KTBrand>
      <!--end::Brand-->
      <!--begin::Nav Wrapper-->

      <div
        class="aside-footer d-flex flex-column align-items-center flex-column-auto py-4 py-lg-10"
      >
        <!--begin::Aside Toggle-->
        <span
          id="kt_aside_toggle"
          ref="kt_aside_toggle"
          v-b-tooltip.hover.right="'Toggle Aside'"
          class="aside-toggle btn btn-icon btn-primary btn-hover-primary shadow-sm"
          data-boundary="window"
          data-container="body"
          data-placement="right"
        >
          <i class="ki ki-bold-arrow-back icon-sm"></i>
        </span>
        <!--end::Aside Toggle-->
        <!--begin::Quick Actions-->
        <KTQuickActions></KTQuickActions>
        <!--end::Quick Actions-->
        <!--begin::Quick Panel-->
        <KTQuickPanel></KTQuickPanel>
        <!--end::Quick Panel-->
        <!--begin::User-->
        <KTQuickUser></KTQuickUser>
        <!--end::User-->
      </div>
      <!--end::Footer-->
    </div>
    <!--end::Primary-->
    <!--begin::Secondary-->
    <div class="aside-secondary d-flex flex-row-fluid">
      <!--begin::Workspace-->
      <div
        class="aside-workspace scroll scroll-push my-2 ps"
        style="height: 824px; overflow: hidden;"
      >
        <!--begin::Tab Content-->
        <b-tabs v-model="tabIndex" class="hide-tabs">
          <b-tab active class="p-3 px-lg-7 py-lg-5">
            <!--end::Form-->
            <h3 class="p-2 p-lg-3 my-1 my-lg-3 text-capitalize"></h3>
            <!--begin::List-->

            <div class="list list-hover">
              <div
                v-for="(item, index) in items"
                :key="index"
                class="list-item hoverable p-2 p-lg-3 mb-2"
              >
                <router-link :to="item.to">
                  <div class="d-flex align-items-center">
                    <!--begin::Symbol-->
                    <div class="symbol symbol-40 symbol-light mr-4">
                      <span class="symbol-label bg-hover-white">
                        <img :src="item.img" class="h-50 align-self-center" />
                      </span>
                    </div>
                    <!--end::Symbol-->
                    <!--begin::Text-->
                    <div class="d-flex flex-column flex-grow-1 mr-2">
                      <span class="text-dark-75 font-size-h6 mb-0 text-capitalize">{{
                        item.title
                      }}</span>
                      <span class="text-muted text-hover-primary font-weight-bold">{{
                        item.description
                      }}</span>
                    </div>
                    <!--begin::End-->
                  </div>
                </router-link>
              </div>
              <!--begin::Item-->

              <!--  -->
            </div>
          </b-tab>
        </b-tabs>
      </div>
    </div>
  </div>
  <!-- end:: Aside -->
</template>

<style lang="scss">
/* hide default vue-bootstrap tab links */
.hide-tabs > div:not(.tab-content) {
  display: none;
}
</style>

<script>
import { mapGetters } from "vuex";
import KTLayoutAside from "@/assets/js/layout/base/aside.js";
import KTLayoutAsideMenu from "@/assets/js/layout/base/aside-menu.js";
import KTLayoutAsideToggle from "@/assets/js/layout/base/aside-toggle.js";
import KTBrand from "@/view/layout/brand/Brand.vue";
import KTMenu from "@/view/layout/aside/Menu.vue";
import KTQuickActions from "@/view/layout/extras/offcanvas/QuickActions.vue";
import KTQuickUser from "@/view/layout/extras/offcanvas/QuickUser.vue";
import KTQuickPanel from "@/view/layout/extras/offcanvas/QuickPanel.vue";

export default {
  name: "KTAside",
  data() {
    return {
      items: [
        {
          title: "Home",
          description: "Go back home",
          to: "/",
          img: "/media/svg/misc/010-vimeo.svg",
        },
        {
          title: "News Articles",
          description: "all media news",
          to: "/news_feed",
          img: "/media/svg/misc/009-hot-air-balloon.svg",
        },
        {
          title: "Testimonies",
          description: "all Testimonies from users",
          to: "/testimony",
          img: "/media/svg/misc/013-rgb.svg",
        },
        {
          title: "Events",
          description: "events and upcoming events",
          to: "/event",
          img: "/media/svg/misc/014-kickstarter.svg",
        },
        {
          title: "Rabbi",
          description: "all Rabbi of the synagogu",
          to: "/rabbi",
          img: "/media/svg/misc/014-kickstarter.svg",
        },
        {
          title: "Users",
          description: "all logedin users",
          to: "/user",
          img: "/media/svg/misc/009-hot-air-balloon.svg",
        },
      ],
      insideTm: 0,
      outsideTm: 0,
      tabIndex: 0,
    };
  },
  components: {
    KTBrand,
    KTMenu,
    KTQuickActions,
    KTQuickUser,
    KTQuickPanel,
  },
  mounted() {
    this.$nextTick(() => {
      const asideRef = this.$refs["kt_aside"];

      // Init Aside
      KTLayoutAside.init(asideRef);

      asideRef.querySelectorAll("a[class='menu-link']").forEach((item) => {
        item.addEventListener("click", () => {
          KTLayoutAside.getOffcanvas().hide();
        });
      });

      // Init Aside Menu
      KTLayoutAsideMenu.init(this.$refs["kt_aside_menu"]);

      // Init Aside Toggle
      KTLayoutAsideToggle.init(this.$refs["kt_aside_toggle"]);
    });
  },
  methods: {
    setActiveTab(event) {
      let target = event.target;
      if (!event.target.classList.contains("nav-link")) {
        target = event.target.closest(".nav-link");
      }

      const tab = target.closest('[role="tablist"]');
      const links = tab.querySelectorAll(".nav-link");
      // remove active tab links
      for (let i = 0; i < links.length; i++) {
        links[i].classList.remove("active");
      }

      // set clicked tab index to bootstrap tab
      this.tabIndex = parseInt(target.getAttribute("data-tab"));

      // set current active tab
      target.classList.add("active");
    },
  },
  computed: {
    ...mapGetters(["layoutConfig", "getClasses"]),

    /**
     * Get extra classes for menu based on the options
     */
    asideMenuClass() {
      const classes = this.getClasses("aside_menu");
      if (typeof classes !== "undefined") {
        return classes.join(" ");
      }
      return null;
    },
  },
};
</script>
