<template>
  <div>
    <div class="P-5">
      <Paraschat />
    </div>
  </div>
</template>

<script>
import Paraschat from "./Components/Paraschat.vue";
export default {
  components: {
    Paraschat,
  },
};
</script>

<style lang="scss" scoped></style>
