<template>
  <div>
    <PageLayout />
    <div class="imagebackground">
      <div class=" texttranform">
        <div class="card-img-overlay text-white d-flex flex-column justify-content-center">
          <h1 class="card-text text-center">
            <b> HELP THE CHILDREN</b>
          </h1>
        </div>
      </div>
    </div>
    <!--  -->
    <br class="d-none d-md-block d-lg-block d-xl-block" />
    <br class="d-none d-md-block d-lg-block d-xl-block" />
    <br class="d-none d-md-block d-lg-block d-xl-block" />
    <br class="d-none d-md-block d-lg-block d-xl-block" />

    <div class="container">
      <div class="row">
        <div class="col-12 col-xl-8">
          <div class="d-none d-md-block d-lg-block  d-xl-block">
            <b-img
              style="height:400px; width:100%"
              src="https://chapel.qodeinteractive.com/wp-content/uploads/2019/08/donation-img-5.jpg"
            ></b-img>
          </div>

          <div class="pt-5 pb-4">
            <h1><b>HELP THE CHILDREN</b></h1>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
              incididunt ut labore et dolore magna aliqua. Ut enim minim veniam, quis nostrud
              exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
              dolor in eprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
              Excepteur sint occaecat cupidatat non proident. Elementum nisi quis eleifend quam
              adipiscing vitae proin sagittis. Viverra mauris in aliquam sem fringilla ut morbi
              tincidunt augue. Eget dolor morbi non. Lectus arcu bibendum at varius. Ut porttitor
              leo a diam. Penatibus et magnis dis parturient montes nascetur. Quis eleifend quam
              adipiscing vitae proin sagittis. Odio ut enim blandit volutpat maecenas volutpat
              blandit.
            </p>

            <div class="pt-4 pb-5">
              <b-button style="color: #fff;background-color: #29191a;">Click To Donate</b-button>
              &nbsp; <b>OR</b> &nbsp;
              <b-button v-b-modal.modal-1 href="#" style="color: #fff;background-color: #29191a;"
                >Make a transfar</b-button
              >
              <!-- model for transfar payment -->
              <b-modal id="modal-1" title="BootstrapVue">
                <p class="my-4">Hello from modal!</p>
              </b-modal>
            </div>
          </div>
        </div>

        <div class="col-12 col-xl-4 px-xl-5 pt-xl-5 pt-5">
          <h4 class="pb-2"><b>LATEST DONATIONS</b></h4>
          <a href="/feed_the_people" style="text-decoration:none; color:black">
            <div class="row">
              <div class="col-12 col-md-6">
                <b-img
                  src="https://external-content.duckduckgo.com/iu/?u=http%3A%2F%2Ffumcaustin.org%2Ffumcweb%2Fwp-content%2Fuploads%2F2017%2F06%2Ffeed-my-people-opengraph-2.jpg&f=1&nofb=1"
                  style="width:100%"
                ></b-img>
              </div>
              <div class="col-12 col-md-6">
                <div class="text-uppercase pt-3 ">
                  <b> FEED THE PEOPLE</b>
                  <div><b>18.9 %</b></div>
                </div>
              </div>
            </div>
          </a>

          <a href="/synagogue_renovation" style="text-decoration:none; color:black">
            <div class="row py-5">
              <div class="col-12 col-md-6">
                <b-img
                  src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fwww.obsidianurbexphotography.com%2Fwp-content%2Fuploads%2F2018%2F04%2FMagan-David-Synagogue-Featured-Image.jpg&f=1&nofb=1"
                  style="width:100%"
                ></b-img>
              </div>
              <div class="col-12 col-md-6">
                <div class="text-uppercase pt-3">
                  <b> synagogue renovation</b>
                  <div><b>50.9 %</b></div>
                </div>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
    <br class="d-none d-md-block d-lg-block d-xl-block" />
    <br class="d-none d-md-block d-lg-block d-xl-block" />
    <div>
      <Footer />
    </div>
  </div>
</template>

<script>
import PageLayout from "../Components/PageLayout.vue";
import Footer from "../Components/Footer.vue";
export default {
  components: {
    PageLayout,
    Footer,
  },
};
</script>

<style scoped>
.imagebackground {
  background-image: url("https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fs3.amazonaws.com%2Fsptv-uploads%2F2017%2F10%2FChildren-Helping-Children.jpg&f=1&nofb=1");
  background-size: cover;
  height: 300px;
  width: 100%;
}
@media (min-width: 992px) {
  .texttranform {
    position: relative;
    top: 10rem;
  }
  .imagebackground {
    background-image: url("https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fwww.gannett-cdn.com%2F-mm-%2F6d46f0a03148c87ce3989a311abc6d55d0153ee9%2Fc%3D0-302-3264-2146%2Flocal%2F-%2Fmedia%2F2016%2F11%2F19%2FWilmington%2FWilmington%2F636151627624965011-dayofthanks.jpg%3Fwidth%3D3200%26height%3D1680%26fit%3Dcrop&f=1&nofb=1");
    background-size: cover;
    height: 500px;
    width: 100%;
  }
}
@media (min-width: 360px) {
  .texttranform {
    position: relative;
    top: 12rem;
  }
}
</style>
