<template>
  <div>
    <PageLayout />
    <div class="imagebackground">
      <div class=" texttranform">
        <div class="card-img-overlay text-white d-flex flex-column justify-content-center">
          <!-- <h1 class="card-text text-center">
            <b> HELP THE CHILDREN</b>
          </h1> -->
        </div>
      </div>
    </div>
    <!--  -->
    <br class="d-none d-md-block d-lg-block d-xl-block" />
    <br class="d-none d-md-block d-lg-block d-xl-block" />
    <br class="d-none d-md-block d-lg-block d-xl-block" />
    <br class="d-none d-md-block d-lg-block d-xl-block" />
    <div class="container  pb-5 pt-5">
      <h1 class="text-center pt-5 pb-5"><b>MAKE А CONTRIBUTION</b></h1>
      <br class="d-none d-md-block d-lg-block d-xl-block" />
      <br class="d-none d-md-block d-lg-block d-xl-block" />
      <div>
        <div class="row px-xl-5 ">
          <div class="col-md-4 px-md-4 py-3" v-for="(item, index) in items" :key="index">
            <div class="card card-custom gutter-b">
              <div class="card card-inverse">
                <img class="card-img" :src="item.image" alt="Card image" />
                <div class="card-img-overlay">
                  <center>
                    <div class="buttonClass">
                      <router-link :to="item.to">
                        <div class="pt-4 pb-2" v-b-scrollspy:scrollspy-nested>
                          <a
                            id="scrollspy-nested"
                            class="btn btn-secondary font-weight-lighter font-size-h6 px-10 py-4 mr-2 text-uppercase"
                          >
                            <b-icon icon="dash"></b-icon>Donate now</a
                          >
                        </div>
                      </router-link>
                    </div>
                  </center>
                </div>
              </div>
              <div class="card-body">
                <div>
                  <div class="pt-3 pb-2 talicText">Donation &nbsp;{{ item.option }}</div>
                  <p>
                    <b>{{ item.title }}</b>
                  </p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor inc
                </div>
                <hr />

                <div class="row">
                  <div class="col-6 text-left">
                    <div>
                      <b style="color:#29191a;">RAISED :</b> <span class="talicText2">$8,700</span>
                    </div>
                  </div>
                  <div class="col-6 text-right">
                    <div>
                      <b style="color:#29191a;">GOAL :</b> <span class="talicText2">$8,700</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br class="d-none d-md-block d-lg-block d-xl-block" />
    <br class="d-none d-md-block d-lg-block d-xl-block" />
    <Footer />
  </div>
</template>

<script>
import PageLayout from "../Components/PageLayout.vue";
import Footer from "../Components/Footer.vue";
export default {
  components: {
    PageLayout,
    Footer,
  },
  data() {
    return {
      items: [
        {
          title: "HELP THE CHILDREN",
          option: "people",
          to: "/help_the_children",
          image: "https://chapel.qodeinteractive.com/wp-content/uploads/2019/08/donation-img-5.jpg",
        },
        {
          to: "/feed_the_people",
          title: "FEED THE PEOPLE",
          option: "people",
          image:
            "https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fwww.mercurynews.com%2Fwp-content%2Fuploads%2F2017%2F08%2Fsjm-l-food-0807-03.jpg%3Fw%3D1024%26h%3D671&f=1&nofb=1",
        },
        {
          to: "/synagogue_renovation",
          title: "CHURCH RENOVATION",
          option: "people",
          image:
            "https://chapel.qodeinteractive.com/wp-content/uploads/2019/08/donation-img-4-1024x652.jpg",
        },
      ],
    };
  },
};
</script>

<style scoped>
.imagebackground {
  background-image: url("https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fmcguffincpa.com%2Fwp-content%2Fuploads%2F2017%2F08%2FDonate-Stock-to-Lower-Your-Tax-Burden.jpg&f=1&nofb=1");
  background-size: cover;
  height: 500px;
  width: 100%;
}
@media (min-width: 992px) {
  .texttranform {
    position: relative;
    top: 10rem;
  }
}
@media (min-width: 360px) {
  .texttranform {
    position: relative;
    top: 12rem;
  }
}
.buttonClass {
  position: absolute;
  bottom: -11px;
  transform: translate(50px);
}
@media (min-width: 1200px) {
  .buttonClass {
    position: absolute;
    bottom: -8px;
    transform: translate(90px);
  }
}
.talicText {
  margin: 0px 0 0;
  font-family: "Noto Serif", serif;
  font-size: 13px;
  font-style: italic;
  color: #c59a8e;
  font-weight: 400;
  line-height: 25px;
}
.talicText2 {
  margin: 0px 0 0;
  font-family: "Noto Serif", serif;
  font-size: 18px;
  font-style: italic;
  color: #c59a8e;
  font-weight: 400;
  line-height: 25px;
}
</style>
