<template>
    <div>
      
   <table class="table  table-borderless text-center"  style="background-color:#f8faff; width:100%">
     <br>
      <h2>weekly torah Paraschat and holidays</h2>
<br>
        <thead >
          <tr class="row">
            <!-- <th class="col-4 text-uppercase " v-for="item in lists.items" :key="item.id">{{ item.category }}</th> -->
            
          </tr>
        </thead>
     
      
        <tbody>
          <tr>
            <th class="row  " style="background-color:#f8faff">
            <td class="col-12 col-md-4 col-lg-4 table-active"  v-for="item in lists.items" :key="item.id">
             <h2 class="text-capitalize">{{item.subcat}}</h2>
             <h2 class="text-capitalize">{{ item.category }}</h2>
             <div style="color:red"> {{item.title || title_orig}}</div>
             <small>{{item.memo}}</small>
              <br>
              <hr style=" border-top: 0.1px dashed gray">
           
           <div class="d-nd-lg-block">  {{item.date}}</div>

            <hr style=" border-top: 0.1px dashed gray">
           <div> {{item.hebrew}}</div>
           <hr style=" border-top: 0.1px dashed gray">
           <div v-if="item.leyning">
             <div > Torah: {{ item.leyning.torah }}
             </div>
             <br>
            <!-- <hr style=" border-top: 0.1px dashed gray"> -->
            <div> Haftarah: {{ item.leyning.haftarah }}</div>
            <div v-if="item.leyning">
              <br>
              <b-dropdown text="Aliyah partition reading">
                <b-dropdown-item>
                  <b-row>
                    <b-col cols="12">
                      <div class="">1:
                    {{item.leyning[1]}}
                      </div>
                      </b-col>
                      <b-col cols="12">2: {{item.leyning[2]}}</b-col>
                        <b-col cols="12">3: {{item.leyning[3]}}</b-col>
                          <b-col cols="12">4: {{item.leyning[4]}}</b-col>
                           <b-col cols="12">5: {{item.leyning[5]}}</b-col>
                          <b-col cols="12">6: {{item.leyning[6]}}</b-col>
                          <b-col cols="12">7: {{item.leyning[7]}}</b-col>
                  </b-row>
                </b-dropdown-item>
              </b-dropdown>
            </div>
            <hr>
<br>
           </div>
           <!-- <a :href="(item.link)">hh</a> -->
            </td>
            </th>
           
          </tr>
        </tbody>
      </table>

      <!--  -->

    </div>
</template>

<script>

import axios from "axios";
export default {
  components: {
  
  },
  name: "Home",
  data() {
    return {
     
      lists: {
        items: [],
      },
    };
  },
  mounted() {
    axios
      .get("https://www.hebcal.com/shabbat?cfg=json&geo=city&city=IL-Jerusalem")
      .then(({ data }) => (this.lists = data))
        .catch(function (error) {
          console.log(error);
  });
      ;
  },
    filters: {
    formatDate(val) {
      if (!val) {
        return "-";
      }

      let date = val.toDate();
      return moment(date).format("MMMM Do YYYY");
    },
  },
};
</script>

<style lang="scss" scoped>

</style>

// https://www.hebcal.com/shabbat?cfg=json&geo=city&city=IL-Jerusalem





// for holidays and feast
// https://www.hebcal.com/hebcal/?v=1&cfg=json&maj=on&min=off&mod=off&nx=off&year=now&month=x&ss=off&mf=off&c=on&geo=pos&m=0&s=off&latitude=51.6093316&longitude=-0.2951551&tzid=Europe/London