<template>
  <div class="container">
    <div>
      <div class="card card-custom gutter-b">
        <div class="card-body">
          <!-- news feed start here -->
          <div class="row">
            <div class="col-md-4" v-for="news in newsfeed" :key="news.id">
              <div class="card card-custom gutter-b">
                <div class="card-body">
                  <div v-if="!hideButtons" class="card-toolbar pb-2">
                    <div class="example-tools justify-co ntent-center">
                      <b-button class="mx-1" @click="emitSelected(news, 'edit')">
                        <span class="svg-icon">
                          <inline-svg src="/media/svg/icons/Design/Edit.svg" />
                        </span>
                      </b-button>
                      <b-button class="mx-1" @click="emitSelected(news, 'delete')">
                        <span class="svg-icon">
                          <inline-svg src="/media/svg/icons/Home/Trash.svg" />
                        </span>
                      </b-button>
                    </div>
                  </div>
                  <!-- image -->
                  <div>
                    <!-- <b-img :src="news.image" alt="news_feed_image" style="width:100%"></b-img> -->
                  </div>
                  <!-- ::image -->
                  <div>
                    <h4 class="font-size-h3 font-weight-boldest  pt-2">{{ news.newsTitle }}</h4>
                    <div>{{ news.newsContent }}</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- newfeed:: end here -->
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {};
  },
  computed: {
    newsfeed() {
      return this.$store.state.newsModule.news;
    },
  },

  mounted() {
    const query = {
      pathVariables: { siteId: this.siteId, query },
    };

    this.$store.dispatch("newsModule/fetchAndAdd", query);
  },
  props: {
    hideButtons: {
      type: Boolean,
      default: true,
    },
  },
  methods: {
    emitSelected(news, type) {
      this.$emit("selected-news", news, type);
    },
  },
};
</script>

<style lang="scss" scoped></style>
