<template>
  <div>
    <div class="card card-custom gutter-b">
      <!--begin::Header-->
      <div class="card-header border-0 py-5">
        <h3 class="card-title align-items-start flex-column">
          <span class="card-label font-weight-boldest text-dark">Site Plans</span>

          <small class="my-2 text-muted"
            >Here, you can add, modify or create new investment plans</small
          >
        </h3>
        <div class="card-toolbar">
          <button class="btn btn-info font-weight-bolder font-size-sm" @click="showCreateModal">
            <span class="svg-icon">
              <inline-svg src="/media/svg/icons/Navigation/Plus.svg" />
            </span>
            New Plan
          </button>
        </div>
      </div>
    </div>
    <newsFeedsComponent :hideButtons="false" @selected-news="setSelectedNews" />

    <!-- modal -->
    <b-modal id="news-feed-modal" centered :title="modalTitle" @ok="createNewsFeed">
      <section class="my-4">
        <div class="form-group">
          <label>News title <span class="text-danger">*</span></label>
          <input
            v-model.trim="newsTitle"
            class="form-control"
            placeholder="News Title"
            type="text"
          />
        </div>

        <div class="form-group mb-1">
          <label>News content <span class="text-danger">*</span></label>
          <textarea
            v-model.trim="newsContent"
            class="form-control"
            rows="10"
            placeholder="content of your post"
          ></textarea>
          <!-- <span>Enter each feature on a separate line</span> -->
        </div>
      </section>
    </b-modal>
  </div>
</template>

<script>
import newsFeedsComponent from "../../Components/admin/NewsFeedsComponent.vue";
export default {
  data() {
    return {
      modalTitle: "",
      newsId: null,
      newsTitle: null,
      newsContent: null,
      selectedNews: null,
    };
  },
  components: {
    newsFeedsComponent,
  },
  methods: {
    createNewsFeed() {
      try {
        this.$bvToast.toast("news_feed have been successfully created", {
          title: "Plan created successfully!",
          variant: "success",
          autoHideDelay: 1000,
        });
        const payload = {
          newsTitle: this.newsTitle,
          newsContent: this.newsContent,
        };
        // show modal
        this.$bvModal.hide("news-feed-modal");
        if (this.newsId) {
          payload.id = this.newsId;
          this.$store.dispatch("newsModule/patch", payload);
        } else {
          this.$store.dispatch("newsModule/set", payload);
        }
      } catch (e) {
        console.errors(e);
      } finally {
        this.clearForm();
      }
    },
    setSelectedNews(news, type) {
      switch (type) {
        case "edit":
          this.modalTitle = "Edit-News Feeds";
          this.ShowEditNewsFeed(news);
          break;
        case "delete":
          this.$store.dispatch("newsModule/delete", news.id);
          break;
      }
    },
    clearForm() {
      this.newsId = null;
      (this.newsTitle = null), (this.newsContent = null);
      this.selectedNews = null;
    },

    showCreateModal() {
      this.modalTitle = "Create News Feed";
      this.clearForm();
      this.$bvModal.show("news-feed-modal");
    },

    ShowEditNewsFeed(news) {
      this.newsTitle = news.newsTitle;
      this.newsContent = news.newsContent;
      this.newsId = news.newsId;

      // show modal
      this.$bvModal.show("news-feed-modal");
    },
  },
};
</script>

<style lang="scss" scoped></style>
